.App {
  background: #260000;

  height: 100vh;
}

.logo {
  position: fixed;
  width: 358px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  transition: top 2s ease-in-out, width 2s ease-in-out;
  cursor: pointer;
  animation: flickerAnimation 5s infinite;
}

@keyframes flickerAnimation {
  0% {
    filter: brightness(1);
  }
  20% {
    filter: brightness(0.2);
  }
  40% {
    -o-animation-timing-function: steps(1, end);
    filter: brightness(1);
  }
  60% {
    filter: brightness(1.2);
  }
  80% {
    filter: brightness(0.7);
  }
  100% {
    filter: brightness(1);
  }
}

.uperIndex {
  z-index: 9999999999;
}
